/target
/classes
/checkouts
/server
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.nrepl-port
/.prepl-port
.hgignore
.hg/

.cache
.temp
/.idea/*
!/.idea/runConfigurations
!/.idea/clojure_compiler.xml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/modules.xml
/.lsp
/.calva
