*.jar
*.class
.cache
.temp

/.idea/*
!/.idea/runConfigurations
/.direnv
/.calva
/.clj-kondo/http-kit
/.lsp
/.nrepl-port
/.prepl-port
/target
/classes
/checkouts
/server

!/.idea/clojure_compiler.xml
!/.idea/discord.xml
!/.idea/extra-logging.iml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/modules.xml
profiles.clj
