/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.nrepl-port
/.prepl-port
.hgignore
.hg/

.cache
/.idea/*
!/.idea/runConfigurations
!/.idea/clojure_compiler.xml
!/.idea/discord.xml
!/.idea/extra-logging.iml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/modules.xml
/.lsp
/.calva
